html {
    scroll-behavior: smooth;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #b3a992, #b3a992 1px, #ffffff 1px, #ffffff);
}

header {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 10rem;
    height: auto;
    border-radius: 50%;
}

.toppic {
    width: fit-content;
    padding: 0.8rem;
    margin: 0 1rem;
    background-color: #000000;
    border-radius: 50%;
}

.title {
    margin: 2rem;
}

.navpic {
    width: 5rem;
}
.navpicmobile {
    width: 1rem;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column wrap;
    background-color: #ffffff;
    padding: 1rem 0;
}

@media(min-width:991px) {
    .dropdown {
        display: none;
    }
    .mobilehome {
        display: none;
    }
}

.navbox {
    width: max-content;
    position: fixed;
}


@media(max-width:991px) {
    .navbox {
        display: none;;
    }
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}

.navtext {
    padding-left: 1rem;
}

.navitem {
    margin: 2rem;
}

.navbutton {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

footer {
    display: flex;
    justify-content: end;
    flex-flow: wrap;
    background-color: #ffffff;
    padding: 2rem 4rem 1rem 1rem;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: end;
}

.about,
.skills {
    width: 80%;
    padding: 2rem;
    margin: 2rem;
    background-color: #ffffff;
    border: 1px dashed black;
}

.contact {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 10rem;
    margin: 3rem;
    background-color: white;
    border-radius: 50%;
    border: 1px dashed black;
}

.centralbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.feedback {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.contactme {
    padding: 1rem;
}

.input {
    padding: 1rem;
}

.submitbutton {
    font-size: medium;
    color: white;
    background-color: #000000;
}

.abouttitle {
    padding: 1rem;
}

/* .title {
    background-color: #ffffff;
    padding: 3rem;
    border: 1px dotted black;
} */

h1 {
    font-size: xxx-large;
}

.skillset {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.languages {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    color: rgb(255, 255, 255);
    background-color: #c6c6c6;
}

.graytext {
    color: rgb(255, 255, 255);
    background-color: #c6c6c6;
}

.skillslang {
    padding: 1rem;
}

.textabout {
    padding: 1rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.mobilehomepic {
    margin-left: 1rem;
    width: 2rem;
}



